@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Varela+Round&display=swap');

@import "tailwindcss";

*{
    font-family: outfit;
}

@layer base{
    html{
        scroll-behavior: smooth;
    }
}

::-webkit-scrollbar{
    display: none;
}

.rich-text {
  font-size: 15px;
  color: #7A7B7D;
}

/* Paragraph */
.rich-text p {
  margin-bottom: 16px;
}

/* Headings */
.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525; 
  margin-top: 24px;
  margin-bottom: 12px;
}
.rich-text h2{
    font-size: 22px;
    font-weight: 700;
    color: #252525;
    margin-top: 24px;
    margin-bottom: 12px;
}
.rich-text h3{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-top: 24px;
    margin-bottom: 12px;
}

.rich-text h4{
    font-size: 16px;
    font-weight: 500;
    color: #444444;
    margin-top: 24px;
    margin-bottom: 12px;
}

.rich-text h5{
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    margin-top: 24px;
    margin-bottom: 12px;
}

.rich-text h6{
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    margin-top: 24px;
    margin-bottom: 12px;
}
/* Ordered list */
.rich-text ol {
    margin-left: 30px;
    list-style-type: decimal;
}

/* List items */
.rich-text li {
  margin-bottom: 8px;
}

.rich-text ul {
    margin-left: 30px;
    list-style-type: disc;
}

/* Strong text */
.rich-text strong {
  font-weight: 600;
  color: #111827;
}

